body{
    font-family: Calibri;
    margin: 0;
    padding: 0;
    position: relative;
}

.principal{
    position: relative;
    top: 210px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    line-height: 1px;
}
.pform{
    position: relative;
    top: -210px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    line-height: 1px;
}

.principal h4{
    font-size: 20px;
    text-align: right;
    position: relative;
    margin-right: 50px;
    color: orangered;
    font-style: bold;
}

.principal input{
    display: flex;
    width: 250px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

.supImg{
    position: absolute;
    width: 99%;
    height: 250px;
    left: 0.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.supImg img{
    width: 100%;
    height: 100%;
}

.infImg{
    position: absolute;
    width: 99%;
    height: 50px;
    left: 0.5%;
    bottom: 5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: right;
    font-size: 20px;
}

.infImg img{
    width: 100%;
    height: 100%;
}

h2, h3{
    color: orangered;
    font-style: bold;
    font-size: 35px;
}

#bPetite{
    position: relative;
    bottom: 20px;
    font-size: 25px;
    margin-top: 35px;
}

#msAlteracoes{
    position: relative;
    margin-right: 20px;
    margin-top: 50px;
    font-size: 20px;
}


